.agdai
*.agdai
ROmega-ICFP23
ROmega-ICFP23/*
CPP-Rome-supp-materials
CPP-Rome-supp-materials/*
Rome-supp-materials
Rome-supp-materials.zip
Rome-supp-materials/*
html/*
*.html
*.zip
*.qcow
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.DS_Store